@font-face {
    font-family: 'future';
    src: url(../fontes/LT\ Sonoma\ 2\ \(1\).otf);
}
@font-face {
  font-family: 'saeada';
  src: url(../fontes/lt_saeada/LTSaeada-Medium.otf);
}
:root {
    --color-primary: #049DD9;
    --color-white: #e9e9e9;
    --color-black: #141d28;
    --color-black-1: #023E73;
    --color-fundo: #BAEFF6;
    --color-pos:#00EEFD;
    --color-pre:#001A44;

  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /*config corpo*/
  body {
    background-color: var(--color-fundo);
    font-family: sans-serif;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
   
  }
  .logo{
    color: var(--color-black-1);
    font-size: 50px;
    font-family: 'future';
  }
  .logo span{
    color: var(--color-fundo);
  }
  .menu-principal{
    background-color: var(--color-black);
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    position: fixed;
  }
  .menu-principal ul{
    list-style: none;
    display: flex;
  }
  .menu-principal ul li{
    padding: 10px 20px;
    position: relative;

  }
  .menu-principal ul li a{
    color: var(--color-white);
    text-decoration: none;
    font-size: 20px;

    transition: all 0.3s;

  }
  .menu-principal ul li a:hover{
    color: var(--color-pos);
  }
  /*config menu pelicula*/
  .dropdow-menu-película{
    display: none;
  }
  .menu-principal ul li:hover .dropdow-menu-película{
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: var(--color-black);
  }
  .dropdow-menu-película ul{
    display: block;
    margin: 10px;
  }
  .dropdow-menu-película ul li{
    width: 200px;
    padding: 10px;
  }
  /*config menu cabos*/
  .dropdow-submenu-cabo{
    display: none;
  }
  .menu-principal ul li:hover .dropdow-submenu-cabo{
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: var(--color-black);
  }
  .dropdow-submenu-cabo ul{
    display: block;
    margin: 10px;
  }
  .dropdow-submenu-cabo ul li{
    width: 200px;
    padding: 10px;
  }/*config menu carregadores*/
  .dropdow-submenu-carregador{
    display: none;
  }
  .menu-principal ul li:hover .dropdow-submenu-carregador{
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: var(--color-black);
  }
  .dropdow-submenu-carregador ul{
    display: block;
    margin: 10px;
  }
  .dropdow-submenu-carregador ul li{
    width: 200px;
    padding: 10px;
  }
  /*config menu telas*/
  .dropdow-submenu-tela{
    display: none;
  }
  .menu-principal ul li:hover .dropdow-submenu-tela{
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: var(--color-black);
  }
  .dropdow-submenu-tela ul{
    display: block;
    margin: 10px;
  }
  .dropdow-submenu-tela ul li{
    width: 200px;
    padding: 10px;
  }
  .fas{
    float: right;
    margin-left: 10px;
    padding-top: 3px;
  }
  .user{
    color: var(--color-fundo);
    display: flex;
    left: 100%;
    font-size: 50px;
  }
  a#circle{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: var(--color-pre);
    justify-content: center;
    align-items: center;
    transition: 0.5s;
  }
  a#circle:hover{
    box-shadow: 0 0 15px var(--color-pos);
  }
  /*config do corpo do site*/
  div img{
      float: right;
      margin-top: 80px;
      margin-right: 2px;
      box-shadow: 2px 3px 14px black;
      border-radius: 0 0 10px 10px;
      opacity: o;
  }
  div img:hover{
    opacity: 0.9;
  }
  .bem-vindo{
    text-align: justify;
    font-family: 'future';
    font-size: 80px;
    color: var(--color-pre);
    margin-left: 40px;
    display: block;
    padding-top: 150px;
  }
  .Start{
    font-size: 50px;
    color: var(--color-pre);
    margin-left: 90px;
    padding-top: 40px;
    font-family: 'future';
  }
  .qualidade{
    font-family: 'saeada';
    color: var(--color-black);
    font-size: 35px;
    padding-top:150px;
    align-items: center;
    margin-left: 90px;
  }
